/* app css stylesheet */
@import "welcomeView/welcomeView.css";
@import "voterSignup/voterSignup.css";

body {
  background-color: #ccccff;
}
a {
  color: inherit;
}
 
.menu {
  list-style: none;

}

.menu > li {
  display: inline;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu > li > a > img {
  width: 10%;
  min-width: 30px;
  max-width: 300px;
}

.menu > li:nth-child(1) > a > img {
  width:23%;
  max-width:600px;
}

.center {
  display: flex;
  justify-content: center;
}

.zip-not-clicked {
  visibility: hidden;
}

.zip-clicked {
  visibility: visible;
}

.category-img {
  width:32%;
  max-width:200px;
}
