<head>
<title>Voter Creation</title>
<!-- This next line keeps buttons and forms at a legible size on cell phones -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<!-- <div>
<img class="votewise" src="assets/images/votewiselogo.svg"/></div>

    <div> -->
<div class="voter-signup">


<p align = left>
In order to match you with your local politicians, we need to know where you live. </p>

<form>
Zip Code:<br>
<input ng-model="user.zip" type="number" name="zip"> <br>
<button ng-click="findByZip( user )">Submit</button>
<div class={{zipClicked}}>
  <br>County:<br>
  <br/>{{counties}} <br>
  <br />
   Not your county? <input ng-model="user.county" type="text" name="county">
   <br />
  <br>City:<br>
  <select ng-model="user.city">
    <option ng-repeat="city in cities">{{city}}</option>
  </select>
  <br />
  <br />
   City not listed? <input ng-model="user.city" type="text" name="city">
   <br />
  <br>Street Address:<br>
  <input ng-model="user.address" type="text" name="address">
  <br>
  <br>Username: {{usernameMessage}}<br>

  <input  ng-model="user.username" type="text" name="userName"><br>
  Password: {{passwordMessage}}<br>
  <input  ng-model="user.password" type="password" name="psw"> <br>

  <br>
    E-mail: {{emailMessage}}<br>
    <input  ng-model="user.email" type="email" name="email" />
  </form>

  <p>
    {{errorMessages}}
  </p>

  </form>
    <input type="checkbox"/>Is all this information correct?
    <br><br>
    <button ng-click="signUp( user )" >Submit</button>
  </form>
</div>
</div>
</div>
